<%= form_with(model: party, local: true) do |f|%>
  <div class="field">
    <%= f.label :name, "Partyの名前" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :introduction, "紹介文" %><br />
    <%= f.text_area :introduction, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :season_id, "開催時期" %><br />
    <%= f.collection_select(:season_id, Season.all, :id, :name, {}, {class:"select_box", id:"party-season"}) %>
  </div>

  <div class="field">
    <%= f.label :country_id, "開催地域" %><br />
    <%= f.collection_select(:country_id, Country.all, :id, :name, {}, {class:"select_box", id:"party-country"}) %>
  </div>

  <div class="field">
    <%= f.label :genre_id, "ジャンル" %><br />
    <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select_box", id:"party-genre"}) %>
  </div>

  <div class="field">
    <%= f.label :official_url, "オフィシャルHP" %><br />
    <%= f.text_field :official_url, class: :form__text %>
  </div>

  <div class="field">
    <%= f.label :image, "画像" %><br />
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn %>
  </div>
<% end %>