<main role="main">
  <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="7000">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
       <%= image_tag '1.jpeg', class: 'img-fluid', alt: 'Responsive image' %>
        <div class="container">
          <div class="carousel-caption">
            <h1><strong>海外に自由に行けなくなってしまった</strong></h1>
            <h1><strong>こんな今だからこそ知ってもらいたい</strong></h1>
          </div>
        </div>
      </div>
      <div class="carousel-item">
       <%= image_tag '2.jpeg', class: 'img-fluid', alt: 'Responsive image' %>
        <div class="container">
          <div class="carousel-caption">
            <h1><strong>世界にはあなたの想像を</strong></h1>
            <h1><strong>超えるスケールのPartyがあることを</strong></h1>
          </div>
        </div>
      </div>
      <div class="carousel-item">
       <%= image_tag '3.jpeg', class: 'img-fluid', alt: 'Responsive image' %>
        <div class="container">
          <div class="carousel-caption">
            <h1><strong>さあ、素晴らしい世界をのぞいてみよう</strong></h1>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="container marketing">
    <div class="row">
      <% @party.first(3).each do |party| %>
        <div class="col-lg-4">
          <div class="party-image-content">
            <%= image_tag party.image, width: '360', height: '280' %>
          </div>
          <div class="party-name-content">
            <strong><h2><%= party.name %></h2></strong>
          </div>
          <div class="party-country-content">
            <h5><small class="text-muted">開催地域</small></h5>
            <h4><%= party.country.name %></h4>
          </div>
          <div class="party-genre-content">
            <h5><small class="text-muted">ジャンル</small></h5>
            <h4><%= party.genre.name %></h4>
          </div>
          <div class="show-button">
            <button type="button" class="btn btn-outline-secondary rounded-pill">
              <%= link_to "詳細を見る", party_path(party.id), class: 'text-reset' %>
            </button>
          </div>
        </div>
      <% end %>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <% @review.first(3).each do |review| %>
        <div class="col-md-7">
          <h2 class="featurette-heading"><%= review.title %></h2>
          <p class="lead"><%= review.content. truncate(50) %></p>
          <button type="button" class="btn btn-outline-secondary btn-sm continue_content">
            <%= link_to "続きをみる", party_path(review.party.id), class: 'text-reset' %>
          </button>
        </div>
        <div class="col-md-5 align-self-center">
          <%= image_tag review.image, class: 'img-thumbnail' %>
        </div>
        <hr class="featurette-divider">
      <% end %>
    </div>
    <hr class="featurette-divider">
  </div>
</main>
