<div class="container marketing">
  <div class="index-title">
    <h2>Party一覧情報</h2>
  </div>
  
  <div class="row justify-content-center">
    <div class="col-md-12 search-form">
      <form class="form-inline">
        <div class="form-group">
          <input class="form-control" type="search" placeholder="Party検索" aria-label="検索...">
          <button type="submit" class="btn btn-outline-success my-2 my-sm-0">検索</button>
        </div>
      </form>
    </div>
  </div>
  
  <div class="row">
    <% @party.first(9).each do |party| %>
      <div class="col-lg-4">
        <div class="party-image-content">
          <%= image_tag party.image, width: '360', height: '280' %>
        </div>
        <div class="party-name-content">
          <strong><h2><%= party.name %></h2></strong>
        </div>
        <div class="party-country-content">
          <h5><small class="text-muted">開催地域</small></h5>
          <h4><%= party.country.name %></h4>
        </div>
        <div class="party-genre-content">
          <h5><small class="text-muted">ジャンル</small></h5>
          <h4><%= party.genre.name %></h4>
        </div>
        <div class="show-button">
          <button type="button" class="btn btn-outline-secondary rounded-pill"><%= link_to "詳細を見る", party_path(party.id), class: 'text-reset' %></button>
        </div>
      </div>
    <% end %>
  </div>

  <%= paginate @party %>

</div>