<main class="main">
  <div class="inner">
    <div class="party__wrapper">
      <p class="party__hedding">
        <%= "Partyの名前" %>
      </p>
      <%= link_to "by #{@party.user.nickname}", "/users/#{@party.user.id}", class: :party__user %>
      <% if user_signed_in? && current_user.id == @party.user.id %>
        <div class="party__manage">
          <%= link_to "編集する", edit_party_path, class: :party__btn %>
          <%= link_to "削除する", party_path, method: :delete, class: :party__btn %>
        </div>
      <% end %>
      <div class="party__image">
        <%= image_tag (@party.image) %>
      </div>
      <div class="party__body">
        <div class="party__detail">
          <p class="detail__title">Partyの名前</p>
          <p class="detail__message">
            <%= @party.name %>
          </p>
        </div>
        <div class="party__detail">
          <p class="detail__title">紹介</p>
          <p class="detail__message">
            <%= @party.introduction %>
          </p>
        </div>
      </div>
      <div class="party__comments">
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
          <%# <%= form_with local: true do |f|%>
            <div class="field">
              <%# <%= f.label :hoge, "コメント" %><br />
              <%# <%= f.text_field :hoge %>
            </div>
            <div class="actions">
              <%# <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <%# <% end %> 
        <%# // ログインしているユーザーには上記を表示する %>
        <ul class="comments_lists">
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
            <li class="comments_list">
              <%# <%= " コメントのテキスト "%>
              <%# <%= link_to "（ ユーザー名 ）", root_path, class: :comment_user %>
            </li>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
        </ul>
      </div>
    </div>
  </div>
</main>
