<div class="container">
  <div class="party__wrapper">
  <%# ⬇️⬇️⬇️adminユーザーだけが編集&削除できる⬇️⬇️⬇️ %>
    <% if user_signed_in? && current_user.admin? %>
      <div class="party__manage">
        <button type="button" class="btn btn-info party_btn">
          <%= link_to "編集する", edit_party_path, class: 'text-reset' %>
        </button>
        <button type="button" class="btn btn-secondary party_btn">
          <%= link_to "削除する", party_path, method: :delete, class: 'text-reset' %>
        </button>
      </div>
    <% end %>
  <%# ⬆️⬆️⬆️adminユーザーだけが編集&削除できる⬆️⬆️⬆️ %>
  <div class="row">
    <div class="col-md-12">
      <div class="party__image">
        <%= image_tag(@party.image, class: 'img-fluid', alt: 'Responsive image') %>
      </div>
    </div>
      <div class="col-md-4 d-flex align-items-center">
        <div class="party_detail">
          <h1><%= @party.name %></h1>
        </div>
      </div>
      <div class="col-md-8 text-left">
        <div class="party_content">
          <h5><%= safe_join(@party.introduction.split("\n"),tag(:br)) %></h5>
        </div>
      </div>
      <table class="table">
          <tr><th>開催時期</th><td><%= @party.season.name %></td></tr>
          <tr><th>開催地域</th><td><%= @party.country.name %></td></tr>
          <tr><th>ジャンル</th><td><%= @party.genre.name %></td></tr>
          <tr><th>オフィシャルHP</th><td><%= raw Rinku.auto_link(h(@party.official_url), :all, 'target="_blank"') %></td></tr>
      </table>
  </div>
  <hr class="featurette-divider">
    <div class="row featurette">
      <% @reviews.each do |review| %>
        <div class="col-md-7">
          <h2 class="featurette-heading"><%= review.title %></h2>
          <p class="lead"><%= review.content %>
          <% if user_signed_in? && current_user.id == review.user_id %>
            <div class="party__manage">
              <%= link_to "編集する", edit_party_review_path(@party.id, review.id), class: :party__btn %>
              <%= link_to "削除する", party_review_path(@party.id, review.id), method: :delete %>
            </div>
          <% end %>
          <p><%= link_to "レビュー by " + review.user.nickname, "/users/#{review.user.id}", class: :text_user %></p>
        </div>
        <div class="col-md-5 align-self-center">
          <%= image_tag review.image, class: 'img-thumbnail' %>
        </div>
        <hr class="featurette-divider">
      <% end %>
    </div>


    <% if user_signed_in? %>
      <%= render partial: "reviews/form", locals: {party: @party}%>
    <% end %>

</div>