<div class="container">
  <div class="registration_title">
    <h2><strong>ユーザー新規登録</strong></h2>
  </div>
  <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
    <div class="form-group row">
      <%= f.label :email, "メールアドレス", class: "col-md-3 col-form-label" %>
      <div class="col-md-9 ">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらも可", class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :password, "パスワード（6文字以上）", class: "col-md-3 col-form-label" %>
      <div class="col-md-9 ">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "6文字以上の半角英数字", class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :password_confirmation, "パスワード再入力", class: "col-md-3 col-form-label" %>
      <div class="col-md-9 ">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" , placeholder: "同じパスワードを入力してください", class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :nickname, "ユーザー名", class: "col-md-3 col-form-label" %>
      <div class="col-md-9 ">
        <%= f.text_field :nickname, placeholder: "20文字以内で入力してください", maxlength: "20", class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :gender_id, "性別", class: "col-md-3 col-form-label" %>
      <div class="col-md-9 ">
        <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"select_box form-control", id:"user_gender_id"}) %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :genre_id, "好きなジャンル", class: "col-md-3 col-form-label" %>
      <div class="col-md-9 ">
        <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select_box form-control", id:"user_genre_id"}) %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :profile, "プロフィール", class: "col-md-3 col-form-label" %>
      <div class="col-md-9 ">
        <%= f.text_area :profile, placeholder: "プロフィールを入力してください(必須・200文字まで)" ,rows: "5" , maxlength:"200", class: "form-control" %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "新規登録", class: :form__btn  %>
    </div>
  <% end %>
</div>
