<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">ユーザー新規登録</h2>

        <%= form_with model: @user, url: user_registration_path, local: true do |f| %>

        <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにする%>
        <%= render 'shared/error_messages', model: f.object %>

        <div class="field">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"PC・携帯どちらも可" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード（6文字以上）" %><br />
          <%= f.password_field :password, autocomplete: "new-password", placeholder:"6文字以上の半角英数字" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "パスワード再入力" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" , placeholder:"同じパスワードを入力してください"%>
        </div>

        <div class="field">
          <%= f.label :nickname, "ユーザー名" %><br />
          <%= f.text_field :nickname, placeholder:"20文字以内で入力してください", maxlength:"20"%>
        </div>

        <div class="field">
          <%= f.label :gender_id, "性別" %><br />
          <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"select_box", id:"user-gender"}) %>
        </div>

        <div class="field">
          <%= f.label :comment, "プロフィール" %><br />
          <%= f.text_area :comment, class: :form__text, placeholder:"プロフィールを入力してください(必須・200文字まで)" ,rows:"7" ,maxlength:"200" %>
        </div>

        <div class="field">
          <%= f.label :genre_id, "好きなジャンル" %><br />
          <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select_box", id:"party-genre"}) %>
        </div>

        <div class="field">
          <%= f.label :image, "画像" %><br />
          <%= f.file_field :image %>
        </div>

        <div class="actions">
          <%= f.submit "新規登録", class: :form__btn  %>
        </div>
      <% end %>
    </div>
  </div>
</div>
