<div class="container">
  <div class="registration_title">
    <h2><strong>ユーザー情報編集</strong></h2>
  </div>
  <%= form_with model: @user, url: user_path(@user), local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>

    <div class="form-group row">
      <%= f.label :nickname, "ユーザー名", class: "col-md-3 col-form-label" %>
      <div class="col-md-9 ">
        <%= f.text_field :nickname, placeholder: "20文字以内で入力してください", maxlength: "20", class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :gender_id, "性別", class: "col-md-3 col-form-label" %>
      <div class="col-md-9 ">
        <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"select_box form-control", id:"user-gender"}) %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :genre_id, "好きなジャンル", class: "col-md-3 col-form-label" %>
      <div class="col-md-9 ">
        <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"select_box form-control", id:"party-genre"}) %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :profile, "プロフィール", class: "col-md-3 col-form-label" %>
      <div class="col-md-9 ">
        <%= f.text_area :profile, placeholder: "プロフィールを入力してください(必須・200文字まで)" ,rows: "5" , maxlength:"200", class: "form-control" %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "保存", class: :form__btn  %>
    </div>
  <% end %>
</div>
