<div class="container">
  <div class="user_profile">
    <% if user_signed_in? && current_user.id %>
      <div class="user_manage">
        <%= link_to "編集する", edit_user_path(@user.id), class: :party__btn %>
      </div>
    <% end %>
    <h2 class="name_text_center">
      <%= "#{@user.nickname}" %>
    </h2>
    <div class="profile_text_center">
      <ul>
        <li>
          <div class="profile_label">性別</div>
          <div class="profile_value">
            <%= @user.gender.name %>
          </div>
        </li>
        <li class="last_profile" style="border-right: none;">
          <div class="profile_label">好きなジャンル</div>
          <div class="profile_value">
            <%= @user.genre.name %>
          </div>
        </li>
      </ul>
    </div>
    <div class="profile_comment">
      <div class="profile_label">プロフィール</div>
      <div class="profile_value">
        <%= @user.profile %>
      </div>
    </div>
  </div>
  <hr class="featurette-divider">
  <%= render partial: "reviews/review", collection: @reviews %>
</div>