<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">ユーザーログイン</h2>
       
        <%= form_with model: @user, url: new_user_session_path, local: true do |f| %>

        <%# インスタンスを渡して、エラー発生時にメッセージが表示されるようにする%>
        <%= render 'shared/error_messages', model: f.object %>

        <div class="field">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"PC・携帯どちらも可" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード" %><br />
          <%= f.password_field :password, autocomplete: "current-password", placeholder:"6文字以上の半角英数字" %>
        </div>

        <div class="actions">
          <%= f.submit "ログイン", class: :form__btn  %>
        </div>
      <% end %>
    </div>
  </div>
</div>