<p class="is-size-4 mb-3">レビューを書く</p>

<div class="rating-box mt-3">
  <%= form_with model: @review, url: party_reviews_path(party), local: true do |f| %>
<div class="star-rating">
  <div class="star-rating-item" style="width:50%;"></div>
</div>


    <div class="field">
      <%= f.label :title, "レビュータイトル" %><br />
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :content, "レビュー本文" %><br />
      <%= f.text_area :content, class: :form__text %>
    </div>

    <div class="field">
      <%= f.label :image, "画像" %><br />
      <%= f.file_field :image %>
    </div>





    <%= f.submit "保存", class: "button mt-3" %>
  <% end %>
</div>