<div class="container">
  <div class="edit_title">

    <h3><strong>編集する</strong></h3>
  </div>

  <%= form_with model: @review, url: party_review_path(@review.party_id, @review.id), local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>

    <div class="form-group row">
      <%= f.label :title, "レビュータイトル", class: "col-md-3 col-form-label" %>
      <div class="col-md-9 ">
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :content, "レビュー本文", class: "col-md-3 col-form-label" %>
      <div class="col-md-9 ">
        <%= f.text_area :content, class: "form-control", rows: "10" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :image, "画像", class: "col-md-3 col-form-label" %>
      <div class="col-md-9 ">
        <%= f.file_field :image, class: "form-control-file" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "保存", class: "button" %>
    </div>

  <% end %>
</div>
