<!DOCTYPE html>
<html>
  <head>
    <title>Party Freak</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">Party Freak</a></h1>
        
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>
        Copyright Party Freak 2021.
      </p>
    </footer>
  </body>
</html>